
.menu_cart{
    position: relative;
    padding: 50px; 
    width: 250px;
    height: 240px;
    margin-left: 20px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.menu_cart::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(146, 146, 146, 0.3) 0%,
    rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%,
    rgba(255, 255, 255, 0.3) 100%);
    width: 100%;
}


.menu_cart_img {
   
   position: absolute;
    width: 100%;
    left: 0;
    top: 0;
   
}
.menu_cart_img img{
   width: 100%;
   position: absolute;
    height: 175px;
    background-size: cover;
}


.menu_cart h3{
     position: absolute;
   text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size:20px ;
    color: var(--bleu);
    width: 100%;
    text-transform: uppercase;
}


@media (max-width:575px ) {
.menu_cart{
    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}
.menu_cart h3{
    font-size: 14px;

    
}

}