.product_page{
    padding-top:80px;
    text-transform: capitalize;
}
.product_description_deatils{
  
  margin-top: 150px;
  display: grid;
  grid-template-columns: 38% 62%;
  border-radius:  10px;
}

.product_image{
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.product_text
{
  
  position: relative;
 background-color: #0f5ff3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%230f5ff3'/%3E%3Cstop offset='1' stop-color='%232196f3'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.17'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
 border-radius: 0 10px 10px 0;
 color: #fff;
 padding: 30px;


}
.product_text h2
{
  text-transform: uppercase;
  margin-bottom: 30px;
  
}
.product_text h2::after
{
  content: "";
  width: 95%;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: 10px;
  
}

.product_text h4
{
  margin-bottom: 35px;
  margin-left: 8px;
}
.product_text h4 span
{
  font-size: 14px;
  opacity: .7;

}
.product_text p
{
  margin-left: 35px;
  margin-top: 30px;
}
.product_text ul
{
  margin-left: 35px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product_text ul li 
{
  margin: 5px;
}

.nav-tabs .nav-link{
  width: 48%;
  text-align: center;

}


.nav-tabs .nav-link.active:focus:hover, .nav-tabs .nav-link.active:hover {
    border: none;
    color: #2196f3;
    background: #fff;
}
.nav-tabs .nav-link:hover {
    border: none;
    color: #2196f3;
    background: #fff;
}
.nav-tabs .nav-link.active {
    border: none;
    color: #2196f3;
    background: #fff;
}

.nav-tabs .nav-link {
    margin-right: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    box-shadow: inset 0 -1px 0 #ddd;
    transition: color .2s,box-shadow .2s;
}
.image_container_pos{
  height: 100%;
}

.product_images
{
  position: absolute;
  bottom: 20px;
}

.product_images img
{
  height: 100px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
} 

@media (max-width:575px ) {
  .product_page .container
  {
    padding: 0;
  }
   .product_description_deatils{
  
  margin-top: 0;
  display: grid;
  grid-template-columns: 100%;
  border-radius:  10px;
}
.product_text 
  {
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
    padding: 10px;
    height: 100%;
    padding-bottom: 30px;

  } 

.image_container_pos {
    height: 400px;
}
.image_container_pos div {
    height: 100%;
}
.image_container_pos div img{
    height: 100%;
}

  .product_images img
  {
    height: 50px;
    width: 50px;
    margin: 0px;
    margin-right: 5px;
    cursor: pointer;
  }
  .product_text p 
  {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  } 
  .product_text ul li 
  {
    margin: 5px;
    font-size: 11px;
  }
.product_text h2
{
  text-transform: uppercase;
  margin-bottom: 15px;
  
}
.product_text h2::after
{

  margin-top: 20px;
  
}
}

@media (min-width: 576px) and (max-width: 768px ) {

  .product_description_deatils{
  
  margin-top: 150px;
  display: grid;
  grid-template-columns: 100%;
  border-radius:  10px;
}


.image_container_pos {
    height: 400px;
}
.image_container_pos div {
    height: 100%;
}
.image_container_pos div img{
    height: 100%;
}

  .product_images img
  {
    height: 40px;
    width: 40px;
    margin: 0px;
    cursor: pointer;
  }
  .product_text p 
  {
    font-size: 14px;
  } 
  .product_text ul li 
  {
    margin: 5px;
    font-size: 11px;
  }

}

@media (min-width: 769px) and (max-width: 992px ) {
  
  .product_images img
  {
    height: 40px;
    width: 40px;
    margin: 0px;
    cursor: pointer;
  }
  .product_text p 
  {
    font-size: 14px;
  } 
  .product_text ul li 
  {
    margin: 5px;
    font-size: 11px;
  }
}
@media (min-width: 993px) and (max-width: 1200px ){
  .product_images img
  {
    height: 40px;
    width: 40px;
    margin: 0px;
    cursor: pointer;
  }
  .product_text p 
  {
    font-size: 14px;
  } 
  .product_text ul li 
  {
    margin: 5px;
    font-size: 11px;
  }
}