.navbarItems{
    background: var(--bleu);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out ;
     position: fixed;
     width: 100%;
    z-index: 1000; 
}

nav ul {
    margin-bottom: 0;
    padding-left: 0;
}

.navbarItems.sticky{
      position: fixed;
      width: 100%;
}

.navbar_logo a{
    color:white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none !important;
} 
.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5 ,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width: 68vw;
    justify-content: inherit;
    margin-right: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.nav-links:hover{
    background-color: white;
    border-radius: 4px;
    color: var(--bleu);
    transition: all 0.2s ease-out;
}
.fa-bars{
    color: #fff;
}

.nav-links-mobile{
    display: none;
} 
.menu-icon{
    display: none;
}


/********************MEDIA*********************/
@media (max-width: 575px) { 
      .navbar_logo {
    transform: translateY(25px) !important;
   
    } 

    .navbar_logo a {
    margin-left: 5px;
    font-size: 19px;
   
    } 

}
@media (min-width: 576px) and (max-width: 768px ) {
.navbar_logo a {
    color:white;
    justify-self: start;
    margin-left: -16px;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 22px;

    
    }

}

@media  (min-width: 1050px) and (max-width: 1220px ){

.nav-links{
    
    padding: 0 5px !important;
    font-weight: bold;
    
    font-size: 14px;
}
    
}

@media (max-width: 1049px) {
   
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left:-100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background: var(--bleu);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: white;
        border-radius: 0;
    }
    .navbar_logo{
        position: absolute;
        top: 0;
        left: 0;
        transform:translate(25%, 50%) ;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform:  translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: #fff;
        font-size: 2rem;
    }
}

