.background
{
    height: 70vh;
    width: 100%;
    background-color:  var(--bleu);
    position: relative;
    overflow: hidden;
}
.background .text
{
    color: #fff;
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 100;
}

.background .text h1
{
    font-size: 24px;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    animation: text 8s infinite;
    border-right: 3px solid #fff;
}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 25ch;
    }
}
.background .first_cercle
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%,50%);
}


.background .second_cercle
{
    position: absolute;
    right: 0;
    left: 0;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%,50%);
}

.background .third_cercle
{
    position: absolute;
    right: 0;
    top: 0;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(10%,-20%);
    
}

.background .four_cercle
{
    position: absolute;
    right: 0;
    top: 0;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background: url('../../image/company.jpg');
    background-size:100% 120%;
    background-repeat: no-repeat;
    transform: translate(15%,-20%);
}

.background .wave
{
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0px;
    left: 0;
    background: url('../../image/wave.png');
    animation: animate 15s linear infinite;
}
@keyframes animate {
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: 1360px;
    }
}


@media (max-width: 575px) { 

    .background
    {
    height: 52vh;
   
    }

    .background .text
    {
        top: 22%;
        left: 5%;   
    }
    .background .text h1
    {
        font-size: 22px;
    }
    .background .first_cercle,.background .second_cercle,.background .third_cercle
    {
        height: 0;
        width: 0;
    }

    .background .four_cercle
    {

        width: 100%;
        height: 100%;
        transform: translate(0%,0%);
        border-radius: 0%;
        background-size:100% 100%;
    }
}

@media (min-width: 576px) and (max-width: 768px ) {

.background .first_cercle,.background .second_cercle,.background .third_cercle
{
    height: 0;
    width: 0;
}

.background .four_cercle
{
    
    width: 100%;
    transform: translate(0%,0%);
    border-radius: 0%;
    background-size:100% 60%;
}
}

@media (min-width: 769px) and (max-width: 992px ) {

.background .four_cercle,.background .third_cercle
{
    width: 600px;
}

.background .text
{
   
    left: 5%;
}
.background .text h1
{
    font-size: 24px;
}
.background .first_cercle,.background .second_cercle
{
    height: 0;
    width: 0;
}

}



@media (min-width: 993px) and (max-width: 1200px ){
.background .four_cercle,.background .third_cercle
{   
    width: 600px;
}

}