.menu_cart_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
.categoryScreen
{
    color: white;
    z-index: 2;
    padding-top: 80px;
}

.categoryScreen .banner
{
    position: relative;
    left: 0;
    width: 100%;
    height: 60vh;
    overflow: hidden; 
    display: flex;
    flex-wrap: wrap;
}
.categoryScreen .banner .image
{
    color: red;
}
.categoryScreen .description
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(190, 189, 189, 0.8); 
    width: 100%;
    padding: 20px 0;
    height: 173px;
}
.category_name_menu{

margin-top: 2%;
margin-bottom: 14px;
text-transform: uppercase;
font-weight: 500;
opacity: .7;

}

.sous_category_name_menu{

margin-top: 1.5%;
margin-bottom: 5px;
margin-left: 15px ;

font-weight: 500;
opacity: .7;

}
.description_h2{
    font-size: 37px;
    margin-bottom: 8px;
    font-weight: 500; 
    text-transform: uppercase;
}
.description p{
    line-height: 25px;
    padding-bottom: 25px;
}

.trier-bar{
    height:50px;
    background-color:#8080805c;
    display:grid;
    grid-template-columns: 10% 30% 60%;
}
.trier-bar-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    grid-gap:6px;
}

.trier-bar-grid i{
     color : #808080a6;
     width:100%;
     line-height:50px;
     display:block;
     font-size:22px;
     text-align:center;
     transition: all ease .4s;
     cursor: pointer; 
}

 .trier-bar-grid i:hover,.trier-bar-grid i.active{
     color : #808080a6;
     width:100%;
     line-height:50px;
     display:block;
     margin:auto;
     border-radius:10%;
     color:white;
}
 .trier-bar-grid i:hover
 {
    background-color:var(--bleu);   
 }
.trier-bar-grid i.active1{
     background-color:var(--bleu);   
}
.total-product{
    text-align:center;
    display:inline-block;
    margin:auto;
}

.trier-bar-h6{
    margin-bottom:0px;
    opacity:0.7;
    
}
.select-sort-produc-span{
   float: left;
}
.grid_3
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.grid_1
{
    display: grid; 
    grid-template-columns: 1fr;
}

.grid_1 .singel_product
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: auto;
    position: relative;
}
.grid_1 .maincard
{
    height: 300px;
}
.grid_1 .thefront img
{
    height: 93%;
    width: 40%;
    float: left;
    margin-right: 50px;
}
.grid_3 .thefront p
{
    display: none;
}

.select-sort-product{
    display: grid;
    grid-template-columns: 1fr 2fr;
    display: block;
}

.select-sort-produc-span{
   
    margin-right: 20px;
    text-align:center;
    float: left;
    line-height:50px;
    font-size: 16px;
}
.select-sort-product .select-sort-product-select {
    width: 85%;
    float: right;
    height: 100%;
}

.all_products_search
{
    padding-top: 100px;
}

/* --------------------media --------------- */

@media (max-width:575px ) {
.menu_cart_section{
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 1rem;
}
.trier-bar{
    grid-template-columns: 30% 70% ;
}
.select-sort-product{
   grid-column: 1/3;
}
.select-sort-product .select-sort-product-select {
    
    height: 50px;
    width: 70%;
}
.select-sort-produc-span{
   float: left;
}
.grid_3
{
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
.grid_1
{
    margin-top: 50px;
}
.grid_1 .singel_product
{
    display: block;
    height: 250px;
    position: relative;
}
.grid_1 .singel_product .single-product-image-div
{
    float: left;
    width: 30%;
    margin-right: 20px;
}
.grid_1 .singel_product .img
{
    height: 175px;
}


.grid_1 .singel_product .Product_footer
{
    position: static;
}
.grid_1 .singel_product .Product_footer .single-product-price-div
{
    text-align: left;
    display: block;
}

.grid_1 .single-product-Name
{
    font-size: 14px; 
}

.grid_1 .single-product-button
{
    bottom: 0;
    transform: translate(0%, -50%);
}

}

@media (min-width: 576px) and (max-width: 768px ) {
.menu_cart_section{
    grid-template-columns: repeat(2, 1fr); 
}
  .trier-bar{
    grid-template-columns: 30% 70% ;
}
.select-sort-product{
   grid-column: 1/3;
}
.select-sort-product .select-sort-product-select {
    display: inline-block;
    height: 50px;
    width: 80%;
}
.select-sort-produc-span{
   float: left;
}
.grid_3
{
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
.grid_1
{
    margin-top: 50px;
}

}
@media (min-width: 769px) and (max-width: 992px ) {

.menu_cart_section{
    grid-template-columns: repeat(2, 1fr); 
}

.trier-bar{
    grid-template-columns: 15% 35% 50%;
} 
.select-sort-product .select-sort-product-select {
    
    height: 50px;
    width: 70%;
}
.select-sort-produc-span{
   float: left;
}
.grid_3
{
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}
.grid_1
{
    margin-top: 50px;
}
}
@media (min-width: 993px) and (max-width: 1200px ){

    .menu_cart_section{
    grid-template-columns: repeat(3, 1fr); 
}
.select-sort-product .select-sort-product-select {
    width: 80%;
    float: right;
    height: 100%;
    
    
}
}